<div class="top-root-wrapper text-center">
    <div class="container top-root-container">
        <h1>日本での買い物を代行してくれる人とマッチングします</h1>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <h2>まずは無料会員登録をして、日本での買物代行者を捜しましょう！！</h2>
                <%= link_to '会員登録', new_user_path, class: 'btn btn-block btn-white' %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2">
                <h2>商品購入者</h2>
                <img src="sample.jpg">
            </div>
            <div class="col-md-2">
                <h2>矢印画像</h2>
                <img src="sample.jpg">
            </div>
            <div class="col-md-2">
                <h2>BaoMai Platform</h2>
                <img src="sample.jpg">
            </div>
            <div class="col-md-2">
                <h2>矢印画像</h2>
                <img src="sample.jpg">
            </div>
            <div class="col-md-2">
                <h2>日本での代行者</h2>
                <img src="sample.jpg">
            </div>
        </div>
        
        <div class="text center">
            <h2>既に登録がお済の方はコチラ</h2>
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <%= link_to 'ログイン', login_path, class: 'btn btn-block btn-white' %>
                </div>
            </div>
        </div>
        
    </div>
</div>